@inherits LayoutComponentBase
@using Mango.Blazor.Components.Shared

<div class="page bg-dark text-white min-vh-100">
    <main class="bg-dark">
        <article class="content px-4">
            <NavBar></NavBar>
            @Body
        </article>
    </main>

    <Notifications />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
