@inherits LayoutComponentBase
@using Mango.Blazor.Components.Shared
@using MudBlazor

<div class="page bg-dark text-white min-vh-100">
    <main class="bg-dark">
        <article class="content px-4">
            <NavBar></NavBar>
            @Body
        </article>
    </main>

    <Notifications />
    <!--This needs to be added here in order for MudBlazor to work properly
        The MudPopoverProvider specifically needs to be in the same "rendering tree" 
        as the components that use it-->
    <MudPopoverProvider />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
